$c-grey-l: #BDBDBD;
$c-grey-m: #9E9E9E;
$c-grey-d: #616161;
$c-black-not: #212121;
$c-black-pure: #000000;
$c-white-not: #F5F5F5;
$c-white-pure: #FFFFFF;
$c-blue: #6f86d6;
$c-pink: #c471f5;
$c-orange: #fda085;
$c-aqua: #84fab0;

// ==================================================
// Utilities 

@mixin boxshadow($horiz: 5px, $vert: 5px, $blur: 5px, $col: rgba(0, 0, 0, 0.1)){
	-webkit-box-shadow: $horiz $vert $blur $col;
	box-shadow: $horiz $vert $blur $col;
}

@mixin transition($which: all, $time: 1s, $how: ease-in-out){
	-webkit-transition: $which $time $how;
	-moz-transition: $which $time $how;
	-ms-transition: $which $time $how;
	-o-transition: $which $time $how;
	transition: $which $time $how;
}

@mixin gradient-bg($left, $right: darken($left, 25%)){
	background: $left; // backup
	background: -webkit-linear-gradient($left, $right);
	background: -o-linear-gradient($left, $right);
	background: -moz-linear-gradient($left, $right);
	background: linear-gradient($left, $right);
}

.full{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    align-items: center;
    display: flex;
    justify-content: center;
}

.center{
	text-align: center;
}

.display{
	font-size: 4em;
}

.flexer{
	display: flex;
}
.justspacebetween{
	justify-content: space-between;
}
.justspacearound{
	justify-content: space-around;
}
.justcenter{
	justify-content: center;
}
.itemcenter{
	align-items: center;
}

// ==================================================
// Layout & Undoing Reset

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Francois+One');
%ff-header{ font-family: 'Francois One', sans-serif }
%ff-else{ font-family: 'Didact Gothic', sans-serif }

*{
	@extend %ff-else;
	line-height: 1.2;
	color: $c-black-not;
	box-sizing: border-box;
}

body{
	background: $c-white-not;
}

h1, h2, h3, h4, h5, h6{
	@extend %ff-header;
}
h1 { font-size: 2rem }
h2 { font-size: 1.75rem }
h3 { font-size: 1.5rem }
h4 { font-size: 1.25rem }
h5, h6, p { font-size: 1rem }
.lead {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: .5em;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}


#root{
	@extend .flexer;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	min-height: 100vh;
}

.container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding: .75em;
}

.card{
	background: $c-white-pure;
	margin-bottom: 1em;
	@include boxshadow;

	@extend .flexer;
	@extend .itemcenter;
	flex-direction: column;

	min-height: 40vh;
}

// ==================================================
// Layout & Undoing Reset

nav, .nav{
	width: 100%;
	background: $c-grey-l;
	align-items: center;
}

// ==================================================
// Section: Day Log

// ==================================================
// Section: History

@mixin makeColors($colorName, $colorValue){
	@for $i from 0 through 5{
		div.c-#{$colorName}-#{$i} {
			background: darken( $colorValue, $i * 10 );
			width: 25px;
			height: 25px;

			margin: .15em;
			padding: .25em;

			@extend .center;
			color: $c-white-pure;
			font-weight: bold;

			display: inline-block;
		}
	}
}

.history{
    @include makeColors(blue, $c-blue);
    @include makeColors(pink, $c-pink);
    @include makeColors(orange, $c-orange);
    @include makeColors(aqua, $c-aqua);
}

@mixin makeSwitchButton($colorName, $colorValue){
	button.color-switch-#{$colorName} {
		@include gradient-bg($colorValue);
		width: 40px;
		height: 40px;

		margin: .1em;
		border: 0;
		display: inline-block;
	}
}

.history{
    @include makeSwitchButton(blue, $c-blue);
    @include makeSwitchButton(pink, $c-pink);
    @include makeSwitchButton(orange, $c-orange);
    @include makeSwitchButton(aqua, $c-aqua);
}

// layout only 
.history-grid-wrapper{
	width: 90%;
	margin-bottom: 2em;

	.history-grid{
		width: 300px;
	}
}


// ==================================================
// Section: Habit Manager

.creator{
	input, fieldset{

	}

	button{

	}
}