@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Francois+One");
.full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  justify-content: center; }

.center, .history div.c-blue-0, .history div.c-blue-1, .history div.c-blue-2, .history div.c-blue-3, .history div.c-blue-4, .history div.c-blue-5, .history div.c-pink-0, .history div.c-pink-1, .history div.c-pink-2, .history div.c-pink-3, .history div.c-pink-4, .history div.c-pink-5, .history div.c-orange-0, .history div.c-orange-1, .history div.c-orange-2, .history div.c-orange-3, .history div.c-orange-4, .history div.c-orange-5, .history div.c-aqua-0, .history div.c-aqua-1, .history div.c-aqua-2, .history div.c-aqua-3, .history div.c-aqua-4, .history div.c-aqua-5 {
  text-align: center; }

.display {
  font-size: 4em; }

.flexer, #root, .card {
  display: flex; }

.justspacebetween {
  justify-content: space-between; }

.justspacearound {
  justify-content: space-around; }

.justcenter {
  justify-content: center; }

.itemcenter, .card {
  align-items: center; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Francois One", sans-serif; }

* {
  font-family: "Didact Gothic", sans-serif; }

* {
  line-height: 1.2;
  color: #212121;
  box-sizing: border-box; }

body {
  background: #F5F5F5; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5, h6, p {
  font-size: 1rem; }

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: .5em; }

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2; }

#root {
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh; }

.container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: .75em; }

.card {
  background: #FFFFFF;
  margin-bottom: 1em;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  min-height: 40vh; }

nav, .nav {
  width: 100%;
  background: #BDBDBD;
  align-items: center; }

.history div.c-blue-0 {
  background: #04befe;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-blue-1 {
  background: #019ace;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-blue-2 {
  background: #01749b;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-blue-3 {
  background: #004e69;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-blue-4 {
  background: #002836;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-blue-5 {
  background: #000203;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-pink-0 {
  background: #ff7eb3;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-pink-1 {
  background: #ff4b95;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-pink-2 {
  background: #ff1877;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-pink-3 {
  background: #e4005e;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-pink-4 {
  background: #b10049;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-pink-5 {
  background: #7e0034;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-orange-0 {
  background: #fda085;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-orange-1 {
  background: #fc7953;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-orange-2 {
  background: #fb5221;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-orange-3 {
  background: #e53604;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-orange-4 {
  background: #b32b03;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-orange-5 {
  background: #811f02;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-aqua-0 {
  background: #84fab0;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-aqua-1 {
  background: #53f891;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-aqua-2 {
  background: #22f671;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-aqua-3 {
  background: #09dc58;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-aqua-4 {
  background: #07ab44;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }
.history div.c-aqua-5 {
  background: #057a31;
  width: 25px;
  height: 25px;
  margin: .15em;
  padding: .25em;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block; }

.history button.color-switch-blue {
  background: #04befe;
  width: 40px;
  height: 40px;
  margin: .1em;
  border: 0;
  display: inline-block; }
.history button.color-switch-pink {
  background: #ff7eb3;
  width: 40px;
  height: 40px;
  margin: .1em;
  border: 0;
  display: inline-block; }
.history button.color-switch-orange {
  background: #fda085;
  width: 40px;
  height: 40px;
  margin: .1em;
  border: 0;
  display: inline-block; }
.history button.color-switch-aqua {
  background: #84fab0;
  width: 40px;
  height: 40px;
  margin: .1em;
  border: 0;
  display: inline-block; }

.history-grid-wrapper {
  width: 90%;
  margin-bottom: 2em; }
  .history-grid-wrapper .history-grid {
    width: 300px; }

/*# sourceMappingURL=styles.css.map */
